.regulor-button {
    background-color: #3F87F5;
    color: #fff;
}

.hero-con img {
    width: 100%;
}

.row {
    padding-top: 80px;
}

.font-size1 {
    font-size: 36px;
}

.font-size {
    font-size: 28px;
}

.regulor-button1 {
    color: #3F87F5;
    background-color: #FDF4FA;
}

.hover:hover {
    background-color: #3F87F5;
    color: #fff;
}